<script type="text/javascript">
    RED.nodes.registerType('latest-block',
    {
        category: 'sense iot blockchain',
        color: '#b27fb2',
        defaults: 
        {
            name: {value:"latest-block"},
            outputtype: {value:"string"}
        },
        inputs:1,
        outputs:1,
        icon: "sense.png",
        label: function() 
        {
            return this.name||"latest-block";
        }
    });
</script>

<script type="text/html" data-template-name="latest-block">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-outputtype"><i class="icon-tag"></i> Output Type</label>
        <select id="node-input-outputtype">
            <option value="string">JSON String</option>
            <option value="object">JSON Object</option>
        </select>
    </div>
</script>

<script type="text/html" data-help-name="latest-block">
    <p>Outputs the latest block in the chain as JSON string/object whenever an input is provided as trigger.</p>
</script>