<script type="text/javascript">
    RED.nodes.registerType('mine-block',
    {
        category: 'sense iot blockchain',
        color: '#b27fb2',
        defaults: 
        {
            name: {value:"mine-block"},
            outputtype: {value:"string"}
        },
        inputs:1,
        outputs:1,
        icon: "sense.png",
        label: function() 
        {
            return this.name||"mine-block";
        }
    });
</script>

<script type="text/html" data-template-name="mine-block">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-outputtype"><i class="icon-tag"></i> Output Type</label>
        <select id="node-input-outputtype">
            <option value="string">JSON String</option>
            <option value="object">JSON Object</option>
        </select>
    </div>
</script>

<script type="text/html" data-help-name="mine-block">
    <p>Mine and return a new Block, using msg.payload as block data.<br><br>WARNING: This node can block your node-red from doing anything else for a while!</p>
</script>