<script type="text/javascript">
    RED.nodes.registerType('add-block',
    {
        category: 'sense iot blockchain',
        color: '#b27fb2',
        defaults: 
        {
            name: {value:"add-block"}
        },
        inputs:1,
        outputs:1,
        icon: "sense.png",
        label: function() 
        {
            return this.name||"add-block";
        }
    });
</script>

<script type="text/html" data-template-name="add-block">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
</script>

<script type="text/html" data-help-name="add-block">
    <p>Insert a new Block object into the input. msg.payload will be inserted into the chain if the block is valid.<br>
        <br>
        Requirements:<br>
        {<br>
            timestamp: number (milliseconds since 1-1-1970)<br>
            data: anything<br>
            previousHash: hash of previous block<br>
            nonce: number<br>
            hash: valid SHA256 hash of this block<br>
        }<br>
    <br>
The hash is calculated as follows:<br>
str = this.previousHash.toString() + this.timestamp.toString() + this.data.toString() + this.nonce.toString();<br>
hash = str as SHA265 hash, output as Base64 string.</p>
</script>