<script type="text/javascript">
    RED.nodes.registerType('on-chain-invalid',
    {
        category: 'sense iot blockchain',
        color: '#b27fb2',
        defaults: 
        {
            name: {value:"on-chain-invalid"},
            checkinterval: {value: 1000}
        },
        inputs:0,
        outputs:1,
        icon: "sense.png",
        label: function() 
        {
            return this.name||"on-chain-invalid";
        }
    });
</script>

<script type="text/html" data-template-name="on-chain-invalid">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-checkinterval"><i class="icon-tag"></i> Interval</label>
        <input type="number" id="node-input-checkinterval" placeholder="Interval">
    </div>
</script>

<script type="text/html" data-help-name="on-chain-invalid">
    <p>Outputs a message when the node detects the chain has become invalid.</p>
</script>