<script type="text/javascript">
    RED.nodes.registerType('parse-json',
    {
        category: 'sense iot blockchain',
        color: '#b27fb2',
        defaults: 
        {
            name: {value:"parse-json"}
        },
        inputs:1,
        outputs:1,
        icon: "sense.png",
        label: function() 
        {
            return this.name||"parse-json";
        }
    });
</script>

<script type="text/html" data-template-name="parse-json">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
</script>

<script type="text/html" data-help-name="parse-json">
    <p>Parses a JSON string and initializes a blockchain from it.</p>
</script>