<script type="text/javascript">
    RED.nodes.registerType('blockchain',
    {
        category: 'sense iot blockchain',
        color: '#b27fb2',
        defaults: 
        {
            name: {value:"blockchain"},
            difficultykey: {value:"123"}
        },
        inputs:0,
        outputs:0,
        icon: "sense.png",
        label: function() 
        {
            return this.name||"blockchain";
        }
    });
</script>

<script type="text/html" data-template-name="blockchain">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-difficultykey"><i class="icon-tag"></i> Difficulty Key for Mining</label>
        <input type="text" id="node-input-difficultykey" placeholder="123" value="123">
    </div>
</script>

<script type="text/html" data-help-name="blockchain">
    <p>A simple blockchain node. Use this to initialize the chain. Ensure there is not more than one blockchain node per flow!</p>
</script>